@media (max-width: 1200px) {
  .promo {
      padding: 10px 10px 10px 10px;
  } 
}

@media (max-width: 991px){
    .promo{
        min-height: 600px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 90px;
        }
        &__link{
            a{
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .header{
        &__logo {
            transform: translateX(10%);
            width: 250px;
            img {
                width: 80%;
            }
        }
        &__official {
            transform: translateX(-10%);
            font-size: 12px;
            font-weight: 300;
            span {
                display: block;
                font-size: 16px;
            }
        }
        &__phone {
            transform: translateX(-5%);
            font-size: 15px;
            font-weight: 550;
        }
        &__contacts {
            transform: translateX(-10%);
            align-items: flex-end;
        }
    }
    .advantages{
        &__descr {
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
        }
    }

    .consultation {
        padding-left: 10px;
        &__descr{
            font-size: 22px;
            text-align: center;
        }
    .title_left {
        font-size: 34px;
        text-align: center;
    }
    .feed-form{
        width: 100%;
        padding: 0 90px 0 90px;}
    }

    .carousel{
        padding: 60px 0;
        &__inner{
            width: 600px;
            img {
                width: 100%;
            }
        }
    }

    .catalog{
        padding-bottom: 60px;
        &__content{
            margin-right: 10px;
            margin-left: 10px;
        }
        &-item{
            width: 240px;
            justify-content: center;
            padding: 10px 10px 8px 10px;
            &__old-price {
                font-size: 13px;
            }
            &__price {
                font-size: 16px;
            }
            &__descr {
                font-size: 13px;
            }
        }
    
        &__list{
            margin-left: 40px;
        }
    }
    .feed {
        padding-bottom: 50px;
        &__item {
            margin-top: 80px;
            &:nth-child(2){
                margin-top: 50px;
            }
        }
        &__img {
            width: 129px;
            height: 129px;
            margin-left: 20px;
        }
        &__text {
            margin-left: 20px;
            padding-right: 30px;
        }
        &__descr {
            font-size: 15px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 250px;
        }
    }
}
@media (max-width: 767px){
    .promo{
        min-height: 600px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
        }
        &__header{
            font-size: 30px;
            font-weight: 600;
        }
        &__subheader{
            margin-top: 8px;
            font-size: 16px;
        }
        &__icons{
            margin-top: 40px;
            width: 380px;
        }
    }
    .header{
        &__logo {
            img {
                width: 85%;
            }
        }
        &__official {
            display: none;
        }
    }
    .advantages{
        padding: 73px 0 98px 0;
        justify-content: center;
        align-items: center;
        &__wrapper{
            flex-direction: column;
            align-items: center;
        }
        &__header{
            font-size: 30px;
        }
        &__subtitle{
            margin-top: 15px;
        }
        &__descr {
            text-align: inherit;
            margin-bottom: 20px;
        }
    }
    .consultation{
        &__descr{
            font-size: 18px;
            text-align: center;
        }
        .feed-form{
            width: 100%;
            padding: 0 110px;
        }
    }
    .carousel{
        &__inner{
            width: 70%;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding-bottom: 40px;
        &__tabs {
            margin-top: 30px;
        }
        &__tab {
            width: 150px;
            height: 30px;;
            font-size: 14px;
            line-height: 31px;
        }
        &__content {
            margin-top: 40px;
        }
        &-item {
            width: 184px;
            min-height: 270px;
            padding: 6px 6px 6px 9px;
            &__img {
                height: 130px;
            }
            &__subtitle {
                margin-top: 16px;
                font-size: 14px;
            }
            &__descr {
                margin-top: 13px;
                font-size: 11px;
            }
            &__link {
                margin-top: 13px;
                font-size: 14px;
            }
            hr {
                margin-top: 18px;
                margin-bottom: 11px;
            }
            &__old-price {
                font-size: 10px;
            }
            &__price {
                font-size: 14px;
            }
            &__wrapper {
                width: calc(200% + 20px);     
            }
            &__content {
                &_active {
                    margin-right: 10px;
                }
            }
            &__list {
                margin-left: 6px;
                padding-right: 10px;
                li {
                    font-size: 12px;
                    margin-bottom: 3px;
                }
            }
            &__back {
                bottom: -17px;
                transform: translateX(calc(-50% - 10px));
                font-size: 13px;
            }
        }
    }
    .button {
        &_mini {
            width: 90px;
            height: 30px;
            font-size: 12px;
        }
    }
}
@media (max-width: 575px){
    .promo{
        min-height: 600px;
        &__wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 70px;
        }
        &__header{
            font-size: 27px;
            font-weight: 600;
        }
        &__subheader{
            margin-top: 4px;
            font-size: 15px;
        }
        &__icons{
            margin-top: 40px;
            width: 96%;
        }
    }
    .button {
        width: 120px;
        height: 36px;
        &_main{
            margin-top: 67px;
            width: 300px;
            height: 50px;
            font-size: 16px;
        }
    }
    .button{
        &_submit{
            width: 100%;
            height: 55px;
            font-size: 16px;
        }
    }
    .header{
        &__logo {
            img {
                width: 80%;
            }
        }
        &__official {
            display: none;
        }
        &__phone{
            font-size: 13px;
            margin-bottom: 6px;
        }
        &__contacts{
            align-items: flex-end;
        }
    }
    .consultation{
        padding-left: 0px;
        .title_left {
            font-size: 23px;
            text-align: center;
        }
        &__descr{
            font-size: 13px;
        }
    }
    .feed {
        padding-bottom: 40px;
        &__item {
            margin-top: 60px;
            &:nth-child(2){
                margin-top: 40px;
            }
        }
        &__img {
            width: 109px;
            height: 109px;
            margin-left: 15px;
        }
        &__text {
            margin-left: 15px;
            padding-right: 10px;
        }
        &__descr {
            font-size: 15px;
        }
    }
}